.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/fir_http/build
/captures
build
.idea/*
.idea
*.iml
.gradle
local.properties
fir_http/build/*
compiler.xml
modules.xml
vcs.xml
